@media (max-width: 80.5em) {
  html {
    font-size: 57%;
  }
  .hero-section {
    flex-direction: column-reverse;
    gap: 0;
    .hero-section-text {
      align-items: center;

      text-align: center;
    }
  }
  body {
    margin: 0 6.4rem;
  }
  nav {
    .logo {
      margin-left: 5rem;
    }
    .menu {
      display: block;
    }
    ul {
      display: none;
    }
  }
  .features {
    flex-flow: wrap;
    gap: 3rem;
    justify-content: center;
  }
  .scroled-section {
    flex-direction: column;
  }
  h2,
  .pink-text {
    text-align: center;
  }
  .header-scroled-section {
    margin-bottom: 6.4rem;
  }
  .header-pricing-section {
    flex-direction: column;
    .pricing-section-btns {
      margin-top: 6.4rem;
    }
  }
  .scroled-section {
    .header-scroled-section {
      max-width: 100%;
    }
    .scroled-container {
      width: 100%;
    }
  }
  .pricing-section {
    .pricing-containers {
      .container {
        height: 100%;
        .text-box {
          .pink-text {
            margin-bottom: 0;
          }
          div {
            flex-direction: column-reverse;
            gap: 0.8rem !important;
          }
          .rating {
            flex-direction: row;
            margin-top: 3.2rem;
          }
        }
      }
    }
  }
  .discount-section {
    flex-direction: column;
    .text-box {
      text-align: center;
      margin-top: 6.4rem;
    }
  }
  .offers-section {
    flex-direction: column-reverse;
    .img-box {
      img {
        width: 150%;
      }
    }
    .text-box {
      width: 100%;
      .header {
        text-align: center;
      }
      .offers {
        width: 100%;

        div {
          width: 100%;
        }
      }
    }
  }
  footer {
    .logo-container {
      width: 100%;
      font-size: 2.3rem;
    }
    div {
      width: 28%;
      margin-top: 6.4rem;
    }
  }
}
