$primary: #191825;
$secondary: #ff5722;
$pink: #f85e9f;
$perple: #5d50c6;
$gray: #19182580;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 12.8rem;
  color: $gray;
  position: relative;
  font-size: 1.8rem;
  font-family: Circular Std;
}
html {
  font-size: 62.5%;
}
.pink-text {
  color: $pink;

  font-size: 2.3rem;
  font-weight: 700;
  line-height: 2.76rem;
  letter-spacing: 0.2rem;
  text-align: left;
}
section {
  padding: 6.4rem 0;
}

p {
  font-family: inter;
}
a {
  color: $gray;
  text-decoration: none;
}
button,
a {
  text-transform: capitalize;
  cursor: pointer;
}
.logo-text {
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 4rem;
  text-align: left;
  color: $primary;
}
h2,
h1,
h3 {
  color: $primary;
}
h2 {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 5.28rem;
  text-align: left;
}

@mixin btn($border: white, $bg: white, $col: $primary, $red: 10rem) {
  border: 0.1rem solid $border;
  background-color: $bg;
  color: $col;
  padding: 1.6rem 3.2rem;
  border-radius: $red;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
nav {
  padding: 4.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    gap: 6.4rem;
    list-style: none;
    .first-child {
      color: $primary;
    }

    li {
      font-size: 1.4rem;
      a:hover,
      a:active {
        color: $primary;
      }
    }
  }
  button {
    @include btn($gray, $perple, white);
  }
  .login {
    @include btn(white, white);
  }
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  .hero-img-box {
    width: 90%;
    img {
      width: 100%;
    }
  }
  .hero-section-text {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4.3rem;
    flex-direction: column;
    .pink-btn {
      @include btn(white, white, $pink);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.8rem;
    }
    .hero-header {
      color: $primary;
      font-size: 6.9rem;
      font-weight: 700;
      line-height: 8.28rem;
      text-align: left;
      span {
        color: $pink;
      }
    }
    button {
      @include btn($gray, $perple, white);
    }
    .Watch {
      @include btn(white, white);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
    }
    .hero-btns {
      display: flex;
      align-items: center;
    }
  }
}
